# Environments
myenv/
venv/
.venv/
env/

# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
build/
dist/

# Local databases
*.db
*.sqlite3

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
